<!DOCTYPE html>
<head>
  <title>상품상세페이지</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <h1>상품상세페이지</h1>
  <p>pid : <%=pid%></p>
  <p>pname : <%=pname%></p>
  <p>price : <%=price%></p>
</body>
</html>