<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% let test = 'test11'; %> <%= test %> <%% 리터럴 %>
  </body>
</html>
