<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>로그인</title>
    <style>
      label {
        display: inline-block;
        width: 100px;
      }

      input[type="text"],
      input[type="password"] {
        width: 300px;
      }

      input[type="submit"] {
        width: 100px;
      }

      input[type="text"],
      input[type="password"],
      input[type="submit"] {
        display: block;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h1>로그인</h1>
    <form action="/auth/login" method="post" onsubmit="return fnFormCheck();">
      <p>
        <label for="username">아이디</label>
        <input type="text" name="username" id="username" />
      </p>
      <p>
        <label for="password">비밀번호</label>
        <input type="password" name="password" id="password" />
      </p>
      <p>
        <input type="submit" value="로그인" />
      </p>
    </form>

    <script>
      function fnFormCheck() {
        var username = document.getElementById("username");
        var password = document.getElementById("password");

        if (username.value.trim().length === 0) {
          alert("아이디를 입력하세요.");
          username.focus();
          return false;
        }

        if (password.value.trim().length === 0) {
          alert("비밀번호를 입력하세요.");
          password.focus();
          return false;
        }

        return true;
      }
    </script>
  </body>
</html>
