<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%=companyName%> 소개</title>
  </head>
  <body>
    <h1>사명 : <%=companyName%></h1>
    <h2>대표자명 : <%=ceo%></h2>
  </body>
</html>
