<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">메인페이지</a></li>
                <li><a href="/auth/login">로그인</a></li>
                <li><a href="/auth/register">회원가입</a></li>
                <li><a href="/auth/logout">로그아웃</a></li>
                <li><a href="/company">회사소개</a></li>
                <li><a href="/computer">컴퓨터제품</a></li>
            </ul>
        <h1>메인페이지</h1>
    </body>
</html>