<!DOCTYPE html>
<html>
  <head>
    <title>파라미터 테스트</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>파라미터 테스트</h1>
    <p>전달된 값 : <%=paramsList%></p>
  </body>
</html>
